<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>

    @await Html.PartialAsync("_css")
</head>
<body onload="loader()">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @await Html.PartialAsync("_scripts")

    @RenderSection("Scripts", required: false)
    <div class="container">
        <main role="main" class="pb-3">
            @*<div id="loading-div-background">
                <div id="loading-div" class="ui-corner-all">
                    <div id="loadingbar"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></div>
                    <h2 style="color:gray;font-weight:normal;">Please wait....</h2>
                </div>
            </div>*@

            <div class="modal fade" id="loading-div-background" role="dialog">
                <div class="modal-dialog">

                     Modal content
                    <div class="modal-content">
                        <div class="modal-body">
                            Loading..
                        </div>
                       
                    </div>

                </div>

            </div>

            <div id="content">

                @RenderBody()
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script>
       
        $(window).on('load', function () {
           
            setTimeout(function () {
                $("#loading-div-background").modal("close").fadeOut(100)
                $("#content").show();

            },5000)
            
        });
        $(window).on('beforeunload', function () {
           
            $("#loading-div-background").modal({ backdrop: "static" }).fadeIn(150);
            $("#content").hide();
        });
     
      
    </script>

</body>
</html>
